<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Our Data</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand brand-name" href="index.html">Data Future</a> -->
            <a class="navbar-brand" href="/">
            <span><img src="https://ya-webdesign.com/images/bonus-clip-bicolor-symbols-6.png" class="img-fluid" style="width:50px;height:60px;"> Data Future
                </span>  
                </a>
          </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/etl/">ETL</a></li>
                <li><a href="/visualizations/">All Visualizations</a></li>
                <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Analysis
                      <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="/where/">Where are data science jobs?</a></li>
                        <li><a href="/what/">What skills should I have?</a></li>
                        <li><a href="/salary/">Salary Information</a></li>
                        <li><a href="/websites/">Which website is the best at finding data jobs?</a></li>
                      </ul>
                    </li>
               <!-- li role="separator" class="divider"></li>-->
                  <!-- <li><a href="#">Don't click me</a></li> -->
                </li>
              </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class=text-center>All of Our Visualizations</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" id="Data_page">
            <a href="/where/">
            <img src="/static/jobs_by_city.png" style="width:500px;height:300px">
            <p id="descriptor" class="text-center">What cities have the most data science jobs?</p>
            </a>
        </div>
        <div class="col-md-6" id="Data_page">
            <a href="/where/">
            <img src="/static/California_Heat_map.png" style="width:500px;height:300px" href="../webpages/Where.html">
            <p id="descriptor" class="text-center">Where are data science jobs?</p>
            </a>
        </div>
    <div class="row">
        <div class = "col-md-6" id="Data_page">
            <a href="/salary/">
            <img src="/static/salaries_by_city.png" style="width:500px;height:300px">
            <p id="descriptor" class="text-center">Salary Information</p>
            </a>
        </div>
        <br>
        <div class = "col-md-6" id="Data_page">
                <a href="/what/">
                <img src="/static/skill_keyword_count.png" style="width:500px;height:300px">
                <p id="descriptor" class="text-center">What Skills should I have?</p>
                </a>
        </div>
        
        <!-- <div class = "col-md-3">
            Visualization 4
            </div> -->
        </div>
    <div class="row">
        <div class = "col-md-6" id="Data_page">
            <a href="/what/">
            <img src="/static/background_keyword_count.png" style="width:500px;height:300px">
            <p id="descriptor" class="text-center">What academic backgrounds do they prefer?</p>
            </a>
        </div>   
                
        <div class="col-md-6">
            <a href="/websites/">
            <img src="/static/listings_by_site.png" style = "width:500px;height:300px">
            <p id="descriptor"  class="text-center"> What website should I vist?</p>
            </a>
        </div>
    </div>
    </div> 
</div>
</body>
</html>