<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Data Future Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand brand-name" href="index.html">Data Future</a> -->
            <a class="navbar-brand" href="index.html">
            <span><img src="https://ya-webdesign.com/images/bonus-clip-bicolor-symbols-6.png" class="img-fluid" style="width:50px;height:60px;"> Data Future
                </span>  
                </a>
          </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="../webpages/ETL.html">ETL</a></li>
                <li><a href="../webpages/Data.html">All Visualizations</a></li>
                <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Analysis
                      <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="../webpages/Where.html">Where are data science jobs?</a></li>
                        <li><a href="../webpages/What.html">What skills should I have?</a></li>
                        <li><a href="../webpages/Salary.html">Salary Information</a></li>
                        <li><a href="../webpages/Websites.html">Which website is the best at finding data jobs?</a></li>
                      </ul>
                    </li>
               <!-- li role="separator" class="divider"></li>-->
                  <!-- <li><a href="#">Don't click me</a></li> -->
                </li>
              </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
</nav>
<div class="jumbotron text-center">
        <h1 class="display-4 text-center" id="Jumbo_welcome">Welcome!</h1>
        <p class="lead" id="Jumbo-description">So, you want to be a Data Scientist?</p>
        <hr class="my-4">
        <p id="Jumbo-text">If you're just looking for Data Science jobs near you, then click the button to begin your search!</p>
      </div>
<br>
<div class ="text-center" id="demoFont">Your Dataframe for a Better Future</div>
<div class ="text-center" id="otherFont"> Data Future is the go-to source for all of your Data Science needs</div>
<hr class="my-4">
<div class="container">
    <div class='row'>
            <div class='col-md-6 text-center'>
                <img class = "text-center" src="https://www.hrmagazine.co.uk/article-images/173123/AI_popup.jpg" alt="Data" style="width:210px;height:164px;">
                <h2 id="df_what"> What can Data Future do for you?</h2>
                <br>
                <p class= 'text-left' id="df_desc">At Data Future, we provide our customers with cutting edge statistics about Data Science. Just like a guide in a jungle safari, Data Future is here to show you the path to take toward the future you deserve.</p>
            </div>
        <div class='col-md-6 text-center'>
                <img class = "text-center" src=http://www.indiandownunder.com.au/wp-content/uploads/2014/07/future-jobs-300x164.jpg alt="data scientist">
                <h2 id="df_what"> Want to know more about being a Data Scientist?</h2>
                <p class = 'text-left' id="df_desc"> This website is made to both help you find a job, and guide you to where you need to go. View our statistics about the Data Science field as a whole, including which websites to look at.</p>
                <p class = 'text-left' id="note"> Note: our data is limited to just California and used the search terms "Data Scientist" and "Data Analyst."</p>
            </div> 
        </div>
    </div>
</body>
</html>